@model List<MyTask>

@{
    ViewData["Title"] = "Список задач";
}

<h2> Список задач</h2>
<hr />
<p> <a asp-action="Create" class="btn btn-success">Создать новую</a> </p>

<table class="table-bordered col-md-12">
    @*Заголовки столбцов*@
    <tr class="text-center fw-bold bg-warning" style="font-size:24px;">


        <td>
            Номер
        </td>

        <td>
            Название задачи
        </td>

        <td>
            Приоритет
        </td>

        <td>
            Статус
        </td>

        <td>
            Действия
        </td>

    </tr>

    @*Строки столбцов*@
    @foreach (var task in Model)
    {
        <tr class="text-center" style="height:55px;background-color: blanchedalmond;">
            @*Номер*@
            <td>
                @task.TaskId
            </td>

            @*Название задачи*@
            <td>
                @task.TaskName
            </td>

            @*Приоритет*@
            <td>
                @task.Priority.PriorityName
            </td>

            @*Статус*@
            <td>
                @task.Status.StatusName
            </td>

            @*Действия*@
            <td>
                @if (task.Status.StatusName == "Новая")
                {
                    <a asp-action="ChangeStatus" asp-route-id="@task.TaskId" class=" btn btn-primary">Открыть</a>
                    <a asp-action="Details" asp-route-id="@task.TaskId" class=" btn btn-dark">Детали</a>
                    <a asp-action="Delete" asp-route-id="@task.TaskId" class=" btn btn-danger">Удалить</a>
                }
                @if (task.Status.StatusName == "Открыта")
                {
                    <a asp-action="ChangeStatus"     class=" btn btn-danger">Закрыть</a>
                    <a asp-action="Details" asp-route-id="@task.TaskId" class=" btn btn-danger">Детали</a>
                }
                @if (task.Status.StatusName == "Закрыта")
                {
                    <a asp-action="Delete" asp-route-id="@task.TaskId"  class=" btn btn-danger">Удалить</a>
                    <a asp-action="Details" asp-route-id="@task.TaskId" class=" btn btn-danger">Детали</a>
                }

            </td>


        </tr>
    }



</table>


